[Desktop Entry]
Type=Application
Version=1.0
Name=yt-dlp Menu
Comment=Menu for yt-dlp
Terminal=true
Categories=Accessories
StartupNotify=false
PrefersNonDefaultGPU=false
Exec=python3 ytdlp_simpleCLI.py
